.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

main {
    padding: 5vh 10vw;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1em;
}

.signup-btn {
    padding: 0.5em 2em;
}

.login-msg {
    margin-top: 0.5em;
}

article {
    padding: 2em;
}

article header {
    font-size: 2rem;
    font-weight: bold;
}

form {
    margin-top: 2rem;
}

form, .name-div, .other-div {
    gap: 1rem;
}

.experience-div,.startDate-div {
    flex: 1;
}

#email,#phone,#experience, #startDate,#password,#confirmPassword{
    flex: 1;
    min-width: 0;
}

.input-div {
    align-items: center;
    padding: 0.5em;
    gap: 1em
}